.FrontPage{
  /* background-color: gray; */
  background-image: url("./fondo.jpg");
  background-size: cover;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.part1{
  display: flex;
  flex-direction: row;
}


.parts{
  width: 100%;
}
html {
  scroll-behavior: smooth;
 }


.recentprojects{
    text-align: center;
}



.photo img{
  border-radius: 100%;
}

.text{
  margin-left: 200px;
  justify-content: center;
  width: 50%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text h2{
  font-size: 50px;
  margin: 0 auto;
  color: rgba(245, 245, 245, 0.39);
}

.text h1{
  margin: 0 auto;
  font-size: 90px;
  color: white;
  line-height: 80px;
}

.text p {
  color: rgba(245, 245, 245, 0.658);
  font-style: italic;
}

.photo{
 text-align: center;
  width: 50%;
}

.text button{
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  margin-top: 15px;
  border: solid 1px rgba(255, 255, 255, 0.178);
  background-color: rgb(104, 104, 104);
  color: white;
}

.part2{
  text-align: center;
 margin-top: 100px;
}


.part2 a{
  
  font-size: 20px;
  margin: 0 auto;
  color:rgb(255, 255, 255);
}
.part2 a:hover{
  color:rgb(83, 83, 83);
}
.part1{
  margin-top: 100px;
  align-items: center;
 
}

.block2{
  background-color: rgb(29, 29, 29);
}

.block2 h1{
  color: white;
}

.block2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.aboutMe{
  display: flex;
  flex: row;
  color: white;
  justify-content: center;
}

.aboutMe div{
 width: 40%;

 justify-content: center;
 text-align: center;
  
}

.aboutMe div p{
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}


