.showProject{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(109, 109, 109);
    width: 60%;
    border: 10px solid rgba(54, 54, 54, 0.836);
    border-radius: 10px;
    color: rgb(255, 255, 255);
  

}

.showProject h2{
   font-size: 35px;
   color: black;
}

.showProject h3{
    font-size: 20px;
   
 }

.projectInfo{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    
    width: 100%;
}

.projectInfo h3{
    margin-top: 0px;
    text-align: left;
    text-decoration: underline;
}

.projectInfo div{
   
    margin: 10px;
}

.projectInfo p{
    text-align: left;
}




#link{
    color: rgb(39, 0, 83);
}

.showProject h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.showProject p{
    font-family:'Courier New', Courier, monospace;
}


.dos{
    width: fit-content;
    height: fit-content;
}

.uno{
    width: fit-content;
  

}

.tres{
    width: 30%;
    
}


@media only screen and (max-width: 1530px) {
    .uno{
        display: none;
    }

    .dos{
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .showProject{
        height: 48vh;
    } 
    .projectInfo{
        display: block;
    }


    .dos{
      width: fit-content;      
    }
    .tres{
        width: fit-content;
    }
}